<div class="container-fluid" style="margin: 35px">

  <div class="page-header head-page">
    <h1>Unesite podatke za XML ispis</h1>
  </div>


  <%= simple_form_for @zaglavlje, html: { class: 'form-horizontal', multipart: true }, url: export_xmls_create_path, method: :put  do |f| %>

    <%= f.input :datum_od %>
    <%= f.input :datum_do %>

    <%= f.input :oib %>

    <%= f.input :naziv %>

    <%= f.input :mjesto %>
    <%= f.input :ulica %>
    <%= f.input :broj %>

    <%= f.input :email, label: "email" %>

      <div class="page-header head-page">
        <h1>Izvješće sastavio:</h1>
      </div>
      <p></p>
    <%= f.input :sastavio_ime, label: "Ime" %>
    <%= f.input :sastavio_prezime, label: "Prezime" %>
    <%= f.input :sastavio_tel, label: "Tel" %>
    <%= f.input :sastavio_fax, label: "Fax" %>
    <%= f.input :sastavio_email, label: "email" %>
      <p></p>
      <div class="page-header head-page">

      </div>

    <%= f.input :na_dan %>
    <%= f.input :nisu_naplaceni_do %>

    <div id="kupacs" style="margin-top: 20px">
      <%= f.simple_fields_for :kupacs do |kupac| %>
          <%= render 'kupac_fields', :f => kupac  %>
      <% end %>

      <div class="links" >
        <div style="margin-top: 50px; margin-bottom: 40px;">
        <%= link_to_add_association 'Dodaj Kupca', f, :kupacs, class: "btn btn-primary", stlye:"margin-top: 35px; margin-bottom: 35px"  %>
        </div>
      </div>
    </div>
      <div class="page-header head-page">

      </div>

      <%= f.button :submit, "Download XML", class:"btn btn-success" %>

<% end %>
</div>