<!DOCTYPE html>
<html>
<head>
  <title>OPZ-STAT-1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>
<body>

  <div class="container-fluid" style="margin: 35px">

  <% if !notice.nil? %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if !alert.nil? %>
    <div class="alert alert-danger" role="alert">
       <%= simple_format(alert)%>
    </div>
  <% end %>

<%= yield %>

   </div>

</body>

</html>
